<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Study Portal</a>

  <ul class="navbar-nav justify-content-end">

    <ng-container
      *ngIf="isAuthenticated; then loggedIn; else loggedOut">
    </ng-container>

    <ng-template #loggedIn>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link active" href="/">Logout</a>
      </li>
    </ng-template>

    <ng-template #loggedOut [ngIf]="isRouterLogin">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">Login</a>
      </li>
    </ng-template>



  </ul>
</nav>


