<div class="container-sm mt-5" style="max-width: 35rem;">
  <div class="row">
    <h1 class="mb-4">Assignments</h1>
    <h6 *ngIf="overallGrade" class="m-auto" >Overall Grade: {{overallGrade | number: '1.2-2' }}%</h6>
<!--    <a *ngIf="isAdmin" class='btn btn-outline-success ml-5' routerLink="/admin">Go Back</a>-->
  </div>

  <div class="row align-items-sm-center mb-4" *ngFor="let assignment of assignments">
    <div class="col justify-content-sm-center">
      <div class="card">
        <div class="card-header">
          <h3>{{assignment.title}}</h3>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <span>Due {{assignment.date | date:'fullDate'}}</span>
            <button *ngIf="!assignment.grade; else noGrade" type="button" class="btn btn-success ml-5" (click)="takeAssessment(assignment._id)">Take Assessment</button>
            <ng-template #noGrade>
              <div class="badge badge-pill badge-info d-flex justify-content-between align-items-center">Score: {{assignment.grade}}%</div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
