<div class="container-sm mt-5" style="max-width: 35rem;">
  <div class="row">
    <h1 class="mb-4">Assignments</h1>
    <h6 *ngIf="overallGrade" class="m-auto" >Overall Grade: {{overallGrade | number: '1.2-2' }}%</h6>
<!--    <a *ngIf="isAdmin" class='btn btn-outline-success ml-5' routerLink="/admin">Go Back</a>-->
  </div>

  <div class="row align-items-sm-center mb-4" *ngFor="let assignment of assignments">
    <div class="col justify-content-sm-center">
      <div class="card">
        <div class="card-header">
          <h3>{{assignment.title}}</h3>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <ng-container *ngIf="!assignment.grade; then showTakeAssignmentButton; else showGradeAndAnswerButton"></ng-container>
            <ng-template #showTakeAssignmentButton>
              <ng-container *ngIf="compareDates(assignment._id); then showDueDate; else pastDue"></ng-container>
              <ng-template #showDueDate>
                <span>Due {{assignment.date | date:'mediumDate'}}</span>
              </ng-template>
              <ng-template #pastDue>
                <span class="alert-danger">Past due {{assignment.date | date:'mediumDate'}}</span>
              </ng-template>
              <button type="button" class="btn btn-success ml-5" (click)="takeAssessment(assignment._id)">Take Assessment</button>
            </ng-template>
            <ng-template #showGradeAndAnswerButton>
              <div class="badge badge-pill badge-info d-flex justify-content-between align-items-center">Score: {{assignment.grade | number: '1.2-2' }}%</div>
              <button type="button" class="btn btn-light" (click)="showAssessmentAnswers(assignment._id)">View Assignment</button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
