<div class="container-sm mt-5" style="max-width: 35rem;">
  <div class="row align-items-sm-center">
    <div class="col">
      <div class="justify-content-sm-center">
        <div class="card" >
          <div *ngIf="errorMessage" class="alert alert-dismissible alert-danger">
            <button (click)="clearError()" type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error </strong>{{errorMessage}}
          </div>
          <div class="card-header">Login</div>
          <div class="card-body">
            <form [formGroup]="signupForm" (ngSubmit)="signup()">
              <div class="form-group">
                <label>Email address</label>
                <input name="email" type="email" class="form-control" formControlName="email">
              </div>
              <div class="form-group">
                <label>Full Name</label>
                <input name="fullName" type="text" class="form-control" formControlName="fullName">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control" formControlName="password">
              </div>
              <div class="form-group">
                <label>Confirm Password</label>
                <input name="password" type="password" class="form-control" formControlName="confirmPassword">
              </div>
              <div class="form-group">
                <label>Select Security Question</label>
                <select class="form-control" formControlName="securityQuestion">
                  <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
                  <option value="What is your favorite subject at IIA?">What is your favorite subject at IIA?</option>
                  <option value="What is your childhood best friend's name?">What is your childhood best friend's name?</option>
                  <option value="What is your first grade teacher's first name">What is your first grade teacher's first name</option>
                </select>
              </div>
              <div class="form-group">
                <label>Security Answer</label>
                <input name="securityAnswer" type="text" class="form-control" formControlName="securityAnswer">
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Sign Up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
